<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <title></title>
</head>

<body>
  <div class = "container">
  <nav>
 <a href="/"><button type="button" class="btn btn-default navbar-btn">Home</button></a>
  <% if session[:id] == nil %>
  <a href="/login"><button type="button" class="btn btn-default navbar-btn">Login/SignUp</button></a>
  <% end %>
  <% if session[:id] != nil %>
  <a href="/user/<%= session[:id] %>"><button type="button" class="btn btn-default navbar-btn">My Album</button></a>
  <a href="/albums/new/<%= session[:id] %>"><button type="button" class="btn btn-default navbar-btn">New Album</button></a>
  <form action="/logout" method="post">
  <input name="_method" value="delete" type="hidden">
  <button type="submit" name="submit" class="btn btn-default">Log Out</button>
  </form>
  <% end %>
  </nav>
  </div>
  <%= yield %>
</body>
</html>
s